body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
    background-color: #ffffff;
}


/*reset*/

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

/*header*/

.container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.btn-content {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 30px;
    min-width: 98px;
    height: 32px;
    background: #bbf330;
    border: none;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.header-nav {
    margin-right: 30px;

}

.header-menu {
    display: flex;
    gap: 28px;
}

.header-list .nav-link {
    padding: 28px 0;
    display: block;
    font-size: 14px;
    color: #2c2c2c;
}

.nav-link:hover,
.nav-link:focus {
    font-size: 14px;
    text-decoration: underline;
    color: #bbf330;
}

/*section 1*/

.hero {
    padding-top: 14px;
    padding-bottom: 69px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 143px;
}

.hero-text-wrap {
    max-width: 511px;
}

.hero-title {
    font-size: 48px;
    line-height: 1.2;
    color: #2c2c2c;
    margin-bottom: 28px;
}

.hero-text {
    line-height: 1.5;
    margin-bottom: 40px;
}

/*section 2*/

.about {
    background: #ffe550;
    padding: 113px 51px 124px 16px;

}

.about-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 90px;

}

.about-wrap {
    max-width: 573px;
}

.about-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: #2c2c2c;
    margin-bottom: 20px;
}

.about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2c2c2c;
    margin-bottom: 40px;
}

.about-list {
    display: flex;
    gap: 67px;
}

.about-item{
    display: flex;
    flex-direction: column;
}

.svg-icon

.fon-icons{
fill:#2c2c2c;
}

.icons-rocket{
    display: flex;
    align-items: center;
fill:#7eb101;
}

.icons-input {
    display: flex;
        align-items: center;
fill: #7eb101;
}

.about-sabtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #2c2c2c;
    margin-bottom: 16px;
}

.about-dsc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2c2c2c;
}

.about-btn {
    border: 2px solid #7eb101;
    background: #fff;
    margin-top: 32px;
}


/*section 3*/

.food{
    margin: 120px 0px 101px 32px;
    width: auto;
    height: auto;
    
}

.food-container

.food-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 42px;
        text-align: center;
        color: #2c2c2c;
}

.food-text{
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #2c2c2c;
}

.food-list{
    width: 1248px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    margin-top: 40px;
}

.food-images{
    display: flex;
}

/*section 4*/

.customer{
    background: #ffe550;
    padding: 140px 104px 126px 32px;
    
}

.customer-container{
    display: flex;
    flex-direction: column;
}

.customer-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #2c2c2c;
    margin-bottom: 20px;
    margin-left: 32px;
}

.titel-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2c2c2c;
    margin-bottom: 33px;
    margin-left: 32px;
}

.customer-reviews{
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    margin-right: 104px;
    gap: 139px;
}

.customer-list{
    margin-left: 0;
}
.customer-item{
    border-radius: 0 30px 30px 30px;
    width: 501px;
    height: 231px;
    background: #fefefe;
}

.item-stars{
    display: flex;
    margin-left: 14px;
    margin-top: 14.28px;
    margin-bottom: 28.56px;
}

.stars-icon{
    display: flex;
    fill: #ffe550; 
}

.customer-item-text{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #2c2c2c;
        margin-top: auto;
        margin-left: 14px;
        width: 473px;
        margin-bottom: 41px;
}

.revies-foto{
    margin-right: 16px;
}

.reviews-title{
    display: flex;
    width: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #2c2c2c;
    margin-bottom: 2px;
    
}
.reviews-title-text{
    display: flex;
    width: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2c2c2c;
}

.reviews{
   display: flex;
   width: 501px;
   
}

.box-model{
    display: flex;
    margin-left: 14px;
    width: 160px;
    height: 53px;
    border-right: solid 1px #7eb101;
}    

.model-text{
    display: flex;
    flex-direction: column;
    width: 94px;
}


/*section 5*/







.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(94, 99, 99, 0.7);

opacity: 1;
visibility: visible;
pointer-events: auto;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    border-radius: 30px;
    width: 458px;
    min-height: 449px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffe550;
    padding: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

.modal-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

.modal-close-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    bottom: none;
}

.modal-field {
margin-bottom: 24px;


}

.modal-label {
font-weight: 500;
font-size: 16px;
line-height: 1.4;
display: block;
margin-bottom: 2px;
margin-left: 12px;

}

.modal-inpput {
border: 1px solid rgba(18, 18, 18, 0.12);
border-radius: 30px;
width: 100%;
height: 48px;
padding: 0 12px;
outline: transparent;
box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
background-color: #fff;
}

.modal-inpput::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}
.modal-send-btn{
border: 2px solid #7eb101;
border-radius: 30px;
padding: 10px 20px;
min-width: 106px;
height: 40px;
background: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    display: block;
    margin: 0 auto;
}

.modal-field-last{
    margin-bottom: 32px;
}
